
@{
    ViewData["Title"] = "Service List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="border-dark backgroundWhite">
    <div class="row">
        <div class="col-6 text-primary">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i> Create New Service</a>
        </div>
    </div>
    <br />
    <table class="table table-bordered" id="tblDataService" style="color:black; width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category Name</th>
                <th>Price</th>
                <th>Frequency Count</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/js/service.js"></script>
}

