
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Frequency List</h2>
        </div>
        <div class=" text-right col-6">
            <a asp-action="UpSert" class="btn btn-primary"><i class="fas fa-plus"></i> Create New Frequency</a>
        </div>
    </div>

    <br />  
    <br />

    <table class="table table-bordered" id="tblDataFrequency" style="color:black; width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Frequency Count</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{ 
    <script src="~/js/frequency.js"></script>
}
